DataFrame에서 만든 GroupBy 객체를 컬럼 이름이나 컬럼 이름이 담긴 배열로 색인하면 수집을 위해 해당 컬럼을 선택하게 된다.

In [1]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                  'key2':['one','two','one','two','one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})

In [2]:
df.groupby('key1')['data1']

In [3]:
df.groupby('key1')[['data2']]

특히 대용량 데이터를 다룰 경우 소수의 컬럼만 모으고 싶을 때가 종종 있는데, 예를 들어 위 데이터에서 data2 컬럼에 대해서만 평균을 구하고 결과르르 DataFrame으로 받고 싶다면 다음과 같이 작성한다.

In [6]:
df.groupby(['key1','key2'])[['data2']].mean().unstack()

         data2
key2       one       two
key1
a    -0.250387 -0.846675
b    -0.003941 -0.644655

색인으로 얻는 객체는 `groupby`메서드에 리스트나 배열을 넘기면 DataFrameGroupBy 객체가 되고, 리스트나 배열이 아닌 단일 값으로 컬럼 이름 하나만 넘기면 SeriesGroupBy 객체가 된다.

In [8]:
s_grouped = df.groupby(['key1','key2'])['data2']

In [9]:
s_grouped

In [10]:
s_grouped.mean()

key1  key2
a     one    -0.250387
      two    -0.846675
b     one    -0.003941
      two    -0.644655
Name: data2, dtype: float64