`fillna` 메서드를 사용해서 누란된 값을 채우는 일은 일반적인 값 치환 작업이라고 볼 수 있다.<br/>
위에서 살펴봤듯이 `map` 메서드를 한 객체 안에서 값의 부분집합을 변경하는데 사용했다면 `replace`메서드는 같은 작업에 대해서<br/>
좀더 간단하고 유연한 방법을 제공한다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([1,-999,2,-999,-1000,3])

In [3]:
data

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [4]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

여러 개의 값을 한번에 치환하려면 하나의 값 대신 치환하려는 값의 리스트를 넘기면 된다.

In [6]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

치환하려는 값마다 다른 값으로 치환하려면 누락된 값 대신 새로이 지정할 값의 리스트를 사용하면 된다.

In [8]:
data

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [7]:
data.replace([-999,-1000],[np.nan,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64