데이터를 다루다 보면 DataFrame의 컬럼이나 Series 배열 안의 값을 기반으로 데이터의 형태를 변형하고 싶을 때가 있다.<br/>
가상으로 수집한 다음과 같은 육류에 대한 정보를 한번 살펴보자.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                    'ounces':[4,3,12,6,7.5,8,3,5,6]})

In [3]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

그리고 해당 육류가 어떤 동물의 고기인지 알려줄 수 있는 컬럼을 하나 추가한다고 가정하고 육류별 동물을 담고 있는 사전 데이터를 다음처럼 작성하자.

In [4]:
meat_to_animal = {
    'bacon':'pig',
    'pulled pork':'pig',
    'pastrami':'cow',
    'corned beef':'cow',
    'honey ham':'pig',
    'nova lox':'salmon'
}

Series의 map 메서드는 사전류의 객체나 어떤 함수를 받을 수 있는데, 이 데이터네는 육류의 이름에 대소문자가 섞여 있는 사소한 문제가 있으므로 소문자로 모두 변경하자.

In [11]:
data['animal'] = data['food'].map(str.lower)

In [12]:
data

          food  ounces       animal
0        bacon     4.0        bacon
1  pulled pork     3.0  pulled pork
2        bacon    12.0        bacon
3     Pastrami     6.0     pastrami
4  corned beef     7.5  corned beef
5        Bacon     8.0        bacon
6     pastrami     3.0     pastrami
7    honey ham     5.0    honey ham
8     nova lox     6.0     nova lox

In [13]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [14]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

물론 함수를 넘겨서 같은 일을 수행할 수도 있다.

In [15]:
data['food'].map(lambda x : meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object