groupby의 나누고 적용하고 합치는 패러다임에서 그룹 가중 평균 같은 DataFrame에서 컬럼간의 연산이나 두 Series 간의 연산은 일상적인 일이다.<br/>
한 예로 그룹 키와 값 그리고 어떤 가중치를 갖는 다음의 데이터 묶음을 한번 살펴보자.

In [17]:
df = pd.DataFrame({'category':['a','a','a','a','b','b','b','b'],
                  'data':np.random.randn(8),
                  'weights':np.random.rand(8)})

In [18]:
df

  category      data   weights
0        a  0.042501  0.186675
1        a  0.228324  0.170282
2        a  0.929464  0.044601
3        a -0.122969  0.907874
4        b -0.001874  0.087505
5        b  0.286666  0.688184
6        b -1.027729  0.257199
7        b  0.861522  0.336225

category 별 그룹 가중 평균을 보면 다음과 같다.

In [19]:
grouped = df.groupby('category')

In [30]:
np.average(df['data'], weights = df['weights'])

0.07432284754092151

In [23]:
get_wavg = lambda g : np.average(g['data'], weights = g['weights'])

In [24]:
grouped.apply(get_wavg)

category
a   -0.017849
b    0.162477
dtype: float64

In [31]:
close_px = pd.read_csv('../../data/stock_px_2.csv')

In [32]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 5 columns):
Unnamed: 0    2214 non-null object
AAPL          2214 non-null float64
MSFT          2214 non-null float64
XOM           2214 non-null float64
SPX           2214 non-null float64
dtypes: float64(4), object(1)
memory usage: 86.6+ KB

In [33]:
close_px[-4:]

               Unnamed: 0    AAPL   MSFT    XOM      SPX
2210  2011-10-11 00:00:00  400.29  27.00  76.27  1195.54
2211  2011-10-12 00:00:00  402.19  26.96  77.16  1207.25
2212  2011-10-13 00:00:00  408.43  27.18  76.37  1203.66
2213  2011-10-14 00:00:00  422.00  27.27  78.11  1224.58