계층적으로 색인된 데이터 묶음은 축 색인의 단계 중 하나를 사용해서 편리하게 모을 수 있는 기능을 제공한다.<br/>
이 기능을 사용하려면 `level` 인자를 통해 레벨 번호나 이름을 넘기면 된다.

In [5]:
columns = pd.MultiIndex.from_arrays([['US','US','US','KR','KR'],
                                    [1,3,5,1,3]],
                                   names=['city','tenor'])

In [6]:
columns

MultiIndex(levels=[['KR', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['city', 'tenor'])

In [7]:
hier_df = pd.DataFrame(np.random.randn(4,5),columns=columns)

In [8]:
hier_df

city         US                            KR
tenor         1         3         5         1         3
0     -0.662699  0.117298 -0.896969 -0.600474  1.379855
1      0.939604 -0.718612 -0.003404  1.055512 -1.376840
2     -1.859922  0.374929  0.441706 -1.391470  0.117055
3     -0.200790  0.210112 -0.702090  1.725875  0.028653

In [11]:
hier_df.groupby(level='city',axis=1).count()

city  KR  US
0      2   3
1      2   3
2      2   3
3      2   3