교차일람표(교차표)는 그룹 빈도를 계산하기 위한 피벗 테이블의 특수한 경우이다. 여기 위키피디아의 교차일람표 페이지에서 가져온 기본예제가 있다.

In [1]:
from io import StringIO

In [13]:
data="""\
sample Gender    Handedness
    1  Female  Right-handed
    2    Male   Left-handed
    3  Female  Right-handed
    4    Male  Right-handed
    5    Male   Left-handed
    6    Male  Right-handed
    7  Female  Right-handed
    8  Female   Left-handed
    9    Male  Right-handed
    10 Female  Right-handed"""

In [14]:
data

'sample Gender    Handedness\n    1  Female  Right-handed\n    2    Male   Left-handed\n    3  Female  Right-handed\n    4    Male  Right-handed\n    5    Male   Left-handed\n    6    Male  Right-handed\n    7  Female  Right-handed\n    8  Female   Left-handed\n    9    Male  Right-handed\n    10 Female  Right-handed'

In [15]:
data = pd.read_table(StringIO(data),sep='\s+')

In [17]:
data.set_index('sample')

        Gender    Handedness
sample
1       Female  Right-handed
2         Male   Left-handed
3       Female  Right-handed
4         Male  Right-handed
5         Male   Left-handed
6         Male  Right-handed
7       Female  Right-handed
8       Female   Left-handed
9         Male  Right-handed
10      Female  Right-handed

설문 분석의 일부로서 이 데이터를 성별과 잘 쓰는 손에 따라 요약해보자.<br/>
이를 위해 `pivot_table` 메서드를 사용할 수도 있지만, `pandas.crosstab`함수가 훨씬 더 편리하다.

In [18]:
pd.crosstab(data.Gender, data.Handedness, margins=True)

Handedness  Left-handed  Right-handed  All
Gender
Female                1             4    5
Male                  2             3    5
All                   3             7   10

crosstab 함수의 처음 두 인자는 배열이나 Series, 혹은 배열의 리스트가 될 수 있다.<br/>
팁 데이터에 대해 교차표를 구해보자.

In [19]:
from seaborn import load_dataset
tips = load_dataset('tips')

In [20]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

smoker       Yes   No    All
time   day
Lunch  Thur   17   44   61.0
       Fri     6    1    7.0
       Sat     0    0    NaN
       Sun     0    0    NaN
Dinner Thur    0    1    1.0
       Fri     9    3   12.0
       Sat    42   45   87.0
       Sun    19   57   76.0
All           93  151  244.0