# 6.4 데이터 베이스와 함께 사용하기

In [36]:
import sqlite3
import pandas as pd

In [37]:
query = """
    CREATE TABLE test
    (a VARCHAR(20),
     b VARCHAR(20),
     c REAL,
     d INTEGER);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [38]:
data = [('Atlanta','Gerogia',1.25,6),
        ('Tallahassee','Florida',2.6,3),
        ('Sacramento','California',1.7,5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"

con.executemany(stmt, data)
con.commit()

In [39]:
cursor = con.execute('select * from test')

In [40]:
rows = cursor.fetchall()

In [41]:
rows

[('Atlanta', 'Gerogia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [42]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [43]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

             a           b     c  d
0      Atlanta     Gerogia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

## 6.4.1 MongoDB에 데이터 저장하고 불러오기

In [70]:
import pymongo
from pymongo import MongoClient 
client = MongoClient()

In [71]:
db = client.test_database

In [73]:
collection = db.test

In [74]:
import datetime 
post = { "author" : "Mike", 
         "text" : "My first blog post!", 
         "tags" : ["mongodb", "python", "pymongo"], 
         "date": datetime.datetime.utcnow() }

In [76]:
posts = db.posts 
post_id = posts.insert(post)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

DuplicateKeyError: E11000 duplicate key error collection: test_database.posts index: _id_ dup key: { : ObjectId('5b1a5ffd45c935498bd723ee') }

### 위 에러는 에러가 아니라 MongoDB가 자동으로 생성하는 posd_id의 값이 유니크 해야하는데
### 한번 생성한 이후 다시 동일한 Command를 수행했기 때문에 오류가나는 것이고
### 그래서 가장 밑에 'DuplicateKeyError' 라는 에러와 함께 Unique ID값을 보여주고 있는 것이다.

In [77]:
db.collection_names()

['posts']

In [78]:
posts.find_one()

{'_id': ObjectId('5b1a5ffd45c935498bd723ee'),
 'author': 'Mike',
 'date': datetime.datetime(2018, 6, 8, 10, 52, 5, 478000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}