In [1]:
%matplotlib nbagg

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
names = pd.read_csv("data/us-baby-names/NationalNames.csv",sep=",",header=0, names=["id","name","year","sex","births"])

In [10]:
names.head()

   id       name  year sex  births
0   1       Mary  1880   F    7065
1   2       Anna  1880   F    2604
2   3       Emma  1880   F    2003
3   4  Elizabeth  1880   F    1939
4   5     Minnie  1880   F    1746

In [11]:
names.shape

(1825433, 5)

In [12]:
total_births = names.pivot_table("births",index="year",columns="sex",aggfunc=sum)

In [14]:
total_births.head()

sex        F       M
year
1880   90993  110491
1881   91954  100745
1882  107850  113688
1883  112321  104629
1884  129022  114445

In [15]:
total_births.tail()

sex         F        M
year
2010  1772738  1913851
2011  1753500  1893230
2012  1753922  1889414
2013  1745339  1881463
2014  1768775  1901376

In [16]:
ax = total_births.plot()

In [17]:
ax.set_title("Total births by sex and year")

Text(0.5,1,'Total births by sex and year')

## ê° ì—°ë„, ì„±ë³„ ê·¸ë£¹ ë‚´ì—ì„œ ê° ì´ë¦„ì˜ ì¶œìƒ íšŸìˆ˜ê°€ ì „ì²´ì—ì„œ ì°¨ì§€í•˜ëŠ” ë¹„ì¤‘(%)ì„ ë‚˜íƒ€ë‚´ëŠ” ì—´ ì¶”ê°€í•˜ê¸°

In [19]:
grouped_names_dict = dict(list(names.groupby(["year","sex"])))

In [25]:
grouped_names_dict.keys()

dict_keys([(1880, 'F'), (1880, 'M'), (1881, 'F'), (1881, 'M'), (1882, 'F'), (1882, 'M'), (1883, 'F'), (1883, 'M'), (1884, 'F'), (1884, 'M'), (1885, 'F'), (1885, 'M'), (1886, 'F'), (1886, 'M'), (1887, 'F'), (1887, 'M'), (1888, 'F'), (1888, 'M'), (1889, 'F'), (1889, 'M'), (1890, 'F'), (1890, 'M'), (1891, 'F'), (1891, 'M'), (1892, 'F'), (1892, 'M'), (1893, 'F'), (1893, 'M'), (1894, 'F'), (1894, 'M'), (1895, 'F'), (1895, 'M'), (1896, 'F'), (1896, 'M'), (1897, 'F'), (1897, 'M'), (1898, 'F'), (1898, 'M'), (1899, 'F'), (1899, 'M'), (1900, 'F'), (1900, 'M'), (1901, 'F'), (1901, 'M'), (1902, 'F'), (1902, 'M'), (1903, 'F'), (1903, 'M'), (1904, 'F'), (1904, 'M'), (1905, 'F'), (1905, 'M'), (1906, 'F'), (1906, 'M'), (1907, 'F'), (1907, 'M'), (1908, 'F'), (1908, 'M'), (1909, 'F'), (1909, 'M'), (1910, 'F'), (1910, 'M'), (1911, 'F'), (1911, 'M'), (1912, 'F'), (1912, 'M'), (1913, 'F'), (1913, 'M'), (1914, 'F'), (1914, 'M'), (1915, 'F'), (1915, 'M'), (1916, 'F'), (1916, 'M'), (1917, 'F'), (1917, 'M'), (1918, 'F'), (1918, 'M'), (1919, 'F'), (1919, 'M'), (1920, 'F'), (1920, 'M'), (1921, 'F'), (1921, 'M'), (1922, 'F'), (1922, 'M'), (1923, 'F'), (1923, 'M'), (1924, 'F'), (1924, 'M'), (1925, 'F'), (1925, 'M'), (1926, 'F'), (1926, 'M'), (1927, 'F'), (1927, 'M'), (1928, 'F'), (1928, 'M'), (1929, 'F'), (1929, 'M'), (1930, 'F'), (1930, 'M'), (1931, 'F'), (1931, 'M'), (1932, 'F'), (1932, 'M'), (1933, 'F'), (1933, 'M'), (1934, 'F'), (1934, 'M'), (1935, 'F'), (1935, 'M'), (1936, 'F'), (1936, 'M'), (1937, 'F'), (1937, 'M'), (1938, 'F'), (1938, 'M'), (1939, 'F'), (1939, 'M'), (1940, 'F'), (1940, 'M'), (1941, 'F'), (1941, 'M'), (1942, 'F'), (1942, 'M'), (1943, 'F'), (1943, 'M'), (1944, 'F'), (1944, 'M'), (1945, 'F'), (1945, 'M'), (1946, 'F'), (1946, 'M'), (1947, 'F'), (1947, 'M'), (1948, 'F'), (1948, 'M'), (1949, 'F'), (1949, 'M'), (1950, 'F'), (1950, 'M'), (1951, 'F'), (1951, 'M'), (1952, 'F'), (1952, 'M'), (1953, 'F'), (1953, 'M'), (1954, 'F'), (1954, 'M'), (1955, 'F'), (1955, 'M'), (1956, 'F'), (1956, 'M'), (1957, 'F'), (1957, 'M'), (1958, 'F'), (1958, 'M'), (1959, 'F'), (1959, 'M'), (1960, 'F'), (1960, 'M'), (1961, 'F'), (1961, 'M'), (1962, 'F'), (1962, 'M'), (1963, 'F'), (1963, 'M'), (1964, 'F'), (1964, 'M'), (1965, 'F'), (1965, 'M'), (1966, 'F'), (1966, 'M'), (1967, 'F'), (1967, 'M'), (1968, 'F'), (1968, 'M'), (1969, 'F'), (1969, 'M'), (1970, 'F'), (1970, 'M'), (1971, 'F'), (1971, 'M'), (1972, 'F'), (1972, 'M'), (1973, 'F'), (1973, 'M'), (1974, 'F'), (1974, 'M'), (1975, 'F'), (1975, 'M'), (1976, 'F'), (1976, 'M'), (1977, 'F'), (1977, 'M'), (1978, 'F'), (1978, 'M'), (1979, 'F'), (1979, 'M'), (1980, 'F'), (1980, 'M'), (1981, 'F'), (1981, 'M'), (1982, 'F'), (1982, 'M'), (1983, 'F'), (1983, 'M'), (1984, 'F'), (1984, 'M'), (1985, 'F'), (1985, 'M'), (1986, 'F'), (1986, 'M'), (1987, 'F'), (1987, 'M'), (1988, 'F'), (1988, 'M'), (1989, 'F'), (1989, 'M'), (1990, 'F'), (1990, 'M'), (1991, 'F'), (1991, 'M'), (1992, 'F'), (1992, 'M'), (1993, 'F'), (1993, 'M'), (1994, 'F'), (1994, 'M'), (1995, 'F'), (1995, 'M'), (1996, 'F'), (1996, 'M'), (1997, 'F'), (1997, 'M'), (1998, 'F'), (1998, 'M'), (1999, 'F'), (1999, 'M'), (2000, 'F'), (2000, 'M'), (2001, 'F'), (2001, 'M'), (2002, 'F'), (2002, 'M'), (2003, 'F'), (2003, 'M'), (2004, 'F'), (2004, 'M'), (2005, 'F'), (2005, 'M'), (2006, 'F'), (2006, 'M'), (2007, 'F'), (2007, 'M'), (2008, 'F'), (2008, 'M'), (2009, 'F'), (2009, 'M'), (2010, 'F'), (2010, 'M'), (2011, 'F'), (2011, 'M'), (2012, 'F'), (2012, 'M'), (2013, 'F'), (2013, 'M'), (2014, 'F'), (2014, 'M')])

In [39]:
grouped_sample = grouped_names_dict[(2011,"M")]

In [40]:
grouped_sample.dtypes

id         int64
name      object
year       int64
sex       object
births     int64
dtype: object

In [41]:
grouped_sample.head(10)

              id       name  year sex  births
1711173  1711174      Jacob  2011   M   20331
1711174  1711175      Mason  2011   M   19488
1711175  1711176    William  2011   M   17314
1711176  1711177     Jayden  2011   M   16954
1711177  1711178       Noah  2011   M   16838
1711178  1711179    Michael  2011   M   16744
1711179  1711180      Ethan  2011   M   16665
1711180  1711181  Alexander  2011   M   15681
1711181  1711182      Aiden  2011   M   15469
1711182  1711183     Daniel  2011   M   15249

In [46]:
def add_prop(agg_df):
    agg_births = agg_df["births"]
    agg_df["prop"] = agg_births / agg_births.sum()
    return agg_df

In [47]:
names_with_prop = names.groupby(["year","sex"]).apply(add_prop)

In [49]:
names_with_prop.head()

   id       name  year sex  births      prop
0   1       Mary  1880   F    7065  0.077643
1   2       Anna  1880   F    2604  0.028618
2   3       Emma  1880   F    2003  0.022013
3   4  Elizabeth  1880   F    1939  0.021309
4   5     Minnie  1880   F    1746  0.019188

In [50]:
names_with_prop.tail()

              id     name  year sex  births      prop
1825428  1825429   Zykeem  2014   M       5  0.000003
1825429  1825430   Zymeer  2014   M       5  0.000003
1825430  1825431  Zymiere  2014   M       5  0.000003
1825431  1825432    Zyran  2014   M       5  0.000003
1825432  1825433    Zyrin  2014   M       5  0.000003

### ê° ì—°ë„,ì„±ë³„ ê·¸ë£¹ë‚´ ì¶œìƒíšŸìˆ˜ ê¸°ì¤€ TOP1000 ì´ë¦„ ì¶”ì¶œí•˜ê¸°

In [53]:
grouped_names_with_prop_dict = dict(list(names_with_prop.groupby(["year","sex"])))

In [55]:
grouped_names_with_prop_dict

{(1880, 'F'):       id       name  year sex  births      prop
 0      1       Mary  1880   F    7065  0.077643
 1      2       Anna  1880   F    2604  0.028618
 2      3       Emma  1880   F    2003  0.022013
 3      4  Elizabeth  1880   F    1939  0.021309
 4      5     Minnie  1880   F    1746  0.019188
 5      6   Margaret  1880   F    1578  0.017342
 6      7        Ida  1880   F    1472  0.016177
 7      8      Alice  1880   F    1414  0.015540
 8      9     Bertha  1880   F    1320  0.014507
 9     10      Sarah  1880   F    1288  0.014155
 10    11      Annie  1880   F    1258  0.013825
 11    12      Clara  1880   F    1226  0.013474
 12    13       Ella  1880   F    1156  0.012704
 13    14   Florence  1880   F    1063  0.011682
 14    15       Cora  1880   F    1045  0.011484
 15    16     Martha  1880   F    1040  0.011429
 16    17      Laura  1880   F    1012  0.011122
 17    18     Nellie  1880   F     995  0.010935
 18    19      Grace  1880   F     982  0.010792
 19    20     Carrie  1880   F     949  0.010429
 20    21      Maude  1880   F     858  0.009429
 21    22      Mabel  1880   F     808  0.008880
 22    23     Bessie  1880   F     796  0.008748
 23    24     Jennie  1880   F     793  0.008715
 24    25   Gertrude  1880   F     787  0.008649
 25    26      Julia  1880   F     783  0.008605
 26    27     Hattie  1880   F     769  0.008451
 27    28      Edith  1880   F     768  0.008440
 28    29     Mattie  1880   F     704  0.007737
 29    30       Rose  1880   F     700  0.007693
 ..   ...        ...   ...  ..     ...       ...
 912  913      Ossie  1880   F       5  0.000055
 913  914      Ottie  1880   F       5  0.000055
 914  915    Ottilia  1880   F       5  0.000055
 915  916  Parthenia  1880   F       5  0.000055
 916  917   Penelope  1880   F       5  0.000055
 917  918     Pinkey  1880   F       5  0.000055
 918  919     Pollie  1880   F       5  0.000055
 919  920     Rennie  1880   F       5  0.000055
 920  921       Reta  1880   F       5  0.000055
 921  922      Roena  1880   F       5  0.000055
 922  923    Rosalee  1880   F       5  0.000055
 923  924   Roseanna  1880   F       5  0.000055
 924  925     Ruthie  1880   F       5  0.000055
 925  926      Sabra  1880   F       5  0.000055
 926  927     Sannie  1880   F       5  0.000055
 927  928     Selena  1880   F       5  0.000055
 928  929      Sibyl  1880   F       5  0.000055
 929  930      Tella  1880   F       5  0.000055
 930  931     Tempie  1880   F       5  0.000055
 931  932  Tennessee  1880   F       5  0.000055
 932  933    Teressa  1880   F       5  0.000055
 933  934      Texas  1880   F       5  0.000055
 934  935      Theda  1880   F       5  0.000055
 935  936     Thelma  1880   F       5  0.000055
 936  937     Thursa  1880   F       5  0.000055
 937  938        Ula  1880   F       5  0.000055
 938  939     Vannie  1880   F       5  0.000055
 939  940     Verona  1880   F       5  0.000055
 940  941     Vertie  1880   F       5  0.000055
 941  942      Wilma  1880   F       5  0.000055

 [942 rows x 6 columns],
 (1880, 'M'):         id       name  year sex  births      prop
 942    943       John  1880   M    9655  0.087383
 943    944    William  1880   M    9532  0.086269
 944    945      James  1880   M    5927  0.053642
 945    946    Charles  1880   M    5348  0.048402
 946    947     George  1880   M    5126  0.046393
 947    948      Frank  1880   M    3242  0.029342
 948    949     Joseph  1880   M    2632  0.023821
 949    950     Thomas  1880   M    2534  0.022934
 950    951      Henry  1880   M    2444  0.022119
 951    952     Robert  1880   M    2415  0.021857
 952    953     Edward  1880   M    2364  0.021395
 953    954      Harry  1880   M    2152  0.019477
 954    955     Walter  1880   M    1755  0.015884
 955    956     Arthur  1880   M    1599  0.014472
 956    957       Fred  1880   M    1569  0.014200
 957    958     Albert  1880   M    1493  0.013512
 958    959     Samuel  1880   M    1024  0.009268
 959    960      David  1880   M     869  0.007865
 960    961      Louis  1880   M     828  0.007494
 961    962        Joe  1880   M     731  0.006616
 962    963    Charlie  1880   M     730  0.006607
 963    964   Clarence  1880   M     730  0.006607
 964    965    Richard  1880   M     728  0.006589
 965    966     Andrew  1880   M     644  0.005829
 966    967     Daniel  1880   M     643  0.005819
 967    968     Ernest  1880   M     615  0.005566
 968    969       Will  1880   M     588  0.005322
 969    970      Jesse  1880   M     569  0.005150
 970    971      Oscar  1880   M     544  0.004923
 971    972      Lewis  1880   M     517  0.004679
 ...    ...        ...   ...  ..     ...       ...
 1970  1971      Philo  1880   M       5  0.000045
 1971  1972    Phineas  1880   M       5  0.000045
 1972  1973    Presley  1880   M       5  0.000045
 1973  1974     Ransom  1880   M       5  0.000045
 1974  1975      Reece  1880   M       5  0.000045
 1975  1976       Rene  1880   M       5  0.000045
 1976  1977    Roswell  1880   M       5  0.000045
 1977  1978    Rowland  1880   M       5  0.000045
 1978  1979    Sampson  1880   M       5  0.000045
 1979  1980     Samual  1880   M       5  0.000045
 1980  1981     Santos  1880   M       5  0.000045
 1981  1982   Schuyler  1880   M       5  0.000045
 1982  1983   Sheppard  1880   M       5  0.000045
 1983  1984   Spurgeon  1880   M       5  0.000045
 1984  1985   Starling  1880   M       5  0.000045
 1985  1986   Sylvanus  1880   M       5  0.000045
 1986  1987   Theadore  1880   M       5  0.000045
 1987  1988  Theophile  1880   M       5  0.000045
 1988  1989     Tilmon  1880   M       5  0.000045
 1989  1990      Tommy  1880   M       5  0.000045
 1990  1991    Unknown  1880   M       5  0.000045
 1991  1992       Vann  1880   M       5  0.000045
 1992  1993        Wes  1880   M       5  0.000045
 1993  1994    Winston  1880   M       5  0.000045
 1994  1995       Wood  1880   M       5  0.000045
 1995  1996     Woodie  1880   M       5  0.000045
 1996  1997     Worthy  1880   M       5  0.000045
 1997  1998     Wright  1880   M       5  0.000045
 1998  1999       York  1880   M       5  0.000045
 1999  2000  Zachariah  1880   M       5  0.000045

 [1058 rows x 6 columns],
 (1881, 'F'):         id       name  year sex  births      prop
 2000  2001       Mary  1881   F    6919  0.075244
 2001  2002       Anna  1881   F    2698  0.029341
 2002  2003       Emma  1881   F    2034  0.022120
 2003  2004  Elizabeth  1881   F    1852  0.020141
 2004  2005   Margaret  1881   F    1658  0.018031
 2005  2006     Minnie  1881   F    1653  0.017976
 2006  2007        Ida  1881   F    1439  0.015649
 2007  2008      Annie  1881   F    1326  0.014420
 2008  2009     Bertha  1881   F    1324  0.014399
 2009  2010      Alice  1881   F    1308  0.014225
 2010  2011      Clara  1881   F    1242  0.013507
 2011  2012      Sarah  1881   F    1226  0.013333
 2012  2013       Ella  1881   F    1148  0.012485
 2013  2014     Nellie  1881   F    1096  0.011919
 2014  2015      Grace  1881   F    1089  0.011843
 2015  2016   Florence  1881   F    1046  0.011375
 2016  2017     Martha  1881   F    1044  0.011354
 2017  2018       Cora  1881   F     969  0.010538
 2018  2019      Laura  1881   F     962  0.010462
 2019  2020     Carrie  1881   F     958  0.010418
 2020  2021      Maude  1881   F     923  0.010038
 2021  2022     Bessie  1881   F     903  0.009820
 2022  2023      Mabel  1881   F     893  0.009711
 2023  2024   Gertrude  1881   F     791  0.008602
 2024  2025      Ethel  1881   F     788  0.008570
 2025  2026     Jennie  1881   F     784  0.008526
 2026  2027      Edith  1881   F     778  0.008461
 2027  2028     Hattie  1881   F     775  0.008428
 2028  2029     Mattie  1881   F     754  0.008200
 2029  2030      Julia  1881   F     737  0.008015
 ...    ...        ...   ...  ..     ...       ...
 2908  2909       Mila  1881   F       5  0.000054
 2909  2910      Minda  1881   F       5  0.000054
 2910  2911     Nealie  1881   F       5  0.000054
 2911  2912       Neta  1881   F       5  0.000054
 2912  2913      Netta  1881   F       5  0.000054
 2913  2914     Orlena  1881   F       5  0.000054
 2914  2915      Ottie  1881   F       5  0.000054
 2915  2916    Ottilia  1881   F       5  0.000054
 2916  2917        Ova  1881   F       5  0.000054
 2917  2918     Ozella  1881   F       5  0.000054
 2918  2919    Phyllis  1881   F       5  0.000054
 2919  2920     Pollie  1881   F       5  0.000054
 2920  2921     Ressie  1881   F       5  0.000054
 2921  2922     Rosena  1881   F       5  0.000054
 2922  2923      Rosey  1881   F       5  0.000054
 2923  2924     Sabina  1881   F       5  0.000054
 2924  2925     Senora  1881   F       5  0.000054
 2925  2926     Siddie  1881   F       5  0.000054
 2926  2927     Susana  1881   F       5  0.000054
 2927  2928    Susanne  1881   F       5  0.000054
 2928  2929    Texanna  1881   F       5  0.000054
 2929  2930      Texas  1881   F       5  0.000054
 2930  2931       Thea  1881   F       5  0.000054
 2931  2932   Theodora  1881   F       5  0.000054
 2932  2933      Tiney  1881   F       5  0.000054
 2933  2934      Tinie  1881   F       5  0.000054
 2934  2935       Tiny  1881   F       5  0.000054
 2935  2936     Vernon  1881   F       5  0.000054
 2936  2937     Verona  1881   F       5  0.000054
 2937  2938      Viney  1881   F       5  0.000054

 [938 rows x 6 columns],
 (1881, 'M'):         id        name  year sex  births      prop
 2938  2939        John  1881   M    8769  0.087042
 2939  2940     William  1881   M    8524  0.084610
 2940  2941       James  1881   M    5442  0.054018
 2941  2942      George  1881   M    4664  0.046295
 2942  2943     Charles  1881   M    4636  0.046017
 2943  2944       Frank  1881   M    2834  0.028130
 2944  2945      Joseph  1881   M    2456  0.024378
 2945  2946       Henry  1881   M    2339  0.023217
 2946  2947      Thomas  1881   M    2282  0.022651
 2947  2948      Edward  1881   M    2177  0.021609
 2948  2949      Robert  1881   M    2140  0.021242
 2949  2950       Harry  1881   M    2002  0.019872
 2950  2951      Walter  1881   M    1670  0.016577
 2951  2952      Arthur  1881   M    1575  0.015634
 2952  2953        Fred  1881   M    1418  0.014075
 2953  2954      Albert  1881   M    1319  0.013092
 2954  2955      Samuel  1881   M     919  0.009122
 2955  2956       David  1881   M     750  0.007445
 2956  2957       Louis  1881   M     746  0.007405
 2957  2958     Charlie  1881   M     668  0.006631
 2958  2959    Clarence  1881   M     668  0.006631
 2959  2960     Richard  1881   M     641  0.006363
 2960  2961         Joe  1881   M     639  0.006343
 2961  2962      Andrew  1881   M     588  0.005837
 2962  2963      Ernest  1881   M     571  0.005668
 2963  2964        Will  1881   M     550  0.005459
 2964  2965       Jesse  1881   M     536  0.005320
 2965  2966       Oscar  1881   M     530  0.005261
 2966  2967      Daniel  1881   M     527  0.005231
 2967  2968      Willie  1881   M     498  0.004943
 ...    ...         ...   ...  ..     ...       ...
 3905  3906      Mercer  1881   M       5  0.000050
 3906  3907       Monte  1881   M       5  0.000050
 3907  3908  Montgomery  1881   M       5  0.000050
 3908  3909       Nolan  1881   M       5  0.000050
 3909  3910        Okey  1881   M       5  0.000050
 3910  3911       Orley  1881   M       5  0.000050
 3911  3912        Page  1881   M       5  0.000050
 3912  3913       Philo  1881   M       5  0.000050
 3913  3914      Primus  1881   M       5  0.000050
 3914  3915     Prosper  1881   M       5  0.000050
 3915  3916       Pryor  1881   M       5  0.000050
 3916  3917        Rene  1881   M       5  0.000050
 3917  3918       Robin  1881   M       5  0.000050
 3918  3919        Roll  1881   M       5  0.000050
 3919  3920     Rolland  1881   M       5  0.000050
 3920  3921      Seward  1881   M       5  0.000050
 3921  3922     Shannon  1881   M       5  0.000050
 3922  3923     Talmage  1881   M       5  0.000050
 3923  3924       Urban  1881   M       5  0.000050
 3924  3925      Vaughn  1881   M       5  0.000050
 3925  3926      Verner  1881   M       5  0.000050
 3926  3927     Waverly  1881   M       5  0.000050
 3927  3928     Webster  1881   M       5  0.000050
 3928  3929      Weldon  1881   M       5  0.000050
 3929  3930       Wells  1881   M       5  0.000050
 3930  3931      Wiliam  1881   M       5  0.000050
 3931  3932      Wilton  1881   M       5  0.000050
 3932  3933        Wing  1881   M       5  0.000050
 3933  3934        Wood  1881   M       5  0.000050
 3934  3935      Wright  1881   M       5  0.000050

 [997 rows x 6 columns],
 (1882, 'F'):         id       name  year sex  births      prop
 3935  3936       Mary  1882   F    8148  0.075549
 3936  3937       Anna  1882   F    3143  0.029142
 3937  3938       Emma  1882   F    2303  0.021354
 3938  3939  Elizabeth  1882   F    2187  0.020278
 3939  3940     Minnie  1882   F    2004  0.018581
 3940  3941   Margaret  1882   F    1821  0.016885
 3941  3942        Ida  1882   F    1673  0.015512
 3942  3943      Alice  1882   F    1542  0.014298
 3943  3944     Bertha  1882   F    1508  0.013982
 3944  3945      Annie  1882   F    1492  0.013834
 3945  3946      Clara  1882   F    1490  0.013815
 3946  3947      Sarah  1882   F    1410  0.013074
 3947  3948   Florence  1882   F    1322  0.012258
 3948  3949     Martha  1882   F    1229  0.011395
 3949  3950       Ella  1882   F    1206  0.011182
 3950  3951      Grace  1882   F    1195  0.011080
 3951  3952      Laura  1882   F    1151  0.010672
 3952  3953     Bessie  1882   F    1144  0.010607
 3953  3954     Nellie  1882   F    1138  0.010552
 3954  3955      Maude  1882   F    1089  0.010097
 3955  3956       Cora  1882   F    1076  0.009977
 3956  3957     Carrie  1882   F    1037  0.009615
 3957  3958      Mabel  1882   F     997  0.009244
 3958  3959      Ethel  1882   F     989  0.009170
 3959  3960     Mattie  1882   F     966  0.008957
 3960  3961   Gertrude  1882   F     939  0.008707
 3961  3962     Jennie  1882   F     934  0.008660
 3962  3963       Rose  1882   F     886  0.008215
 3963  3964      Edith  1882   F     876  0.008122
 3964  3965     Hattie  1882   F     859  0.007965
 ...    ...        ...   ...  ..     ...       ...
 4933  4934      Nelie  1882   F       5  0.000046
 4934  4935      Olena  1882   F       5  0.000046
 4935  4936       Olie  1882   F       5  0.000046
 4936  4937     Otelia  1882   F       5  0.000046
 4937  4938      Penny  1882   F       5  0.000046
 4938  4939     Pheobe  1882   F       5  0.000046
 4939  4940     Pollie  1882   F       5  0.000046
 4940  4941     Portia  1882   F       5  0.000046
 4941  4942      Rella  1882   F       5  0.000046
 4942  4943     Rennie  1882   F       5  0.000046
 4943  4944   Roseanna  1882   F       5  0.000046
 4944  4945     Roxana  1882   F       5  0.000046
 4945  4946     Sabina  1882   F       5  0.000046
 4946  4947       Sada  1882   F       5  0.000046
 4947  4948      Sadye  1882   F       5  0.000046
 4948  4949     Sammie  1882   F       5  0.000046
 4949  4950    Savilla  1882   F       5  0.000046
 4950  4951     Selena  1882   F       5  0.000046
 4951  4952    Shellie  1882   F       5  0.000046
 4952  4953     Sibbie  1882   F       5  0.000046
 4953  4954     Thekla  1882   F       5  0.000046
 4954  4955      Tinie  1882   F       5  0.000046
 4955  4956       Veda  1882   F       5  0.000046
 4956  4957     Vienna  1882   F       5  0.000046
 4957  4958      Vinia  1882   F       5  0.000046
 4958  4959       Vira  1882   F       5  0.000046
 4959  4960     Willia  1882   F       5  0.000046
 4960  4961     Zaidee  1882   F       5  0.000046
 4961  4962       Zana  1882   F       5  0.000046
 4962  4963      Zilla  1882   F       5  0.000046

 [1028 rows x 6 columns],
 (1882, 'M'):         id        name  year sex  births      prop
 4963  4964        John  1882   M    9557  0.084063
 4964  4965     William  1882   M    9298  0.081785
 4965  4966       James  1882   M    5892  0.051826
 4966  4967      George  1882   M    5193  0.045678
 4967  4968     Charles  1882   M    5092  0.044789
 4968  4969       Frank  1882   M    3176  0.027936
 4969  4970      Joseph  1882   M    2670  0.023485
 4970  4971      Thomas  1882   M    2610  0.022958
 4971  4972       Henry  1882   M    2579  0.022685
 4972  4973      Robert  1882   M    2500  0.021990
 4973  4974      Edward  1882   M    2477  0.021788
 4974  4975       Harry  1882   M    2232  0.019633
 4975  4976      Walter  1882   M    1805  0.015877
 4976  4977      Arthur  1882   M    1686  0.014830
 4977  4978        Fred  1882   M    1641  0.014434
 4978  4979      Albert  1882   M    1499  0.013185
 4979  4980      Samuel  1882   M    1003  0.008822
 4980  4981       Louis  1882   M     852  0.007494
 4981  4982       David  1882   M     838  0.007371
 4982  4983    Clarence  1882   M     837  0.007362
 4983  4984     Charlie  1882   M     753  0.006623
 4984  4985     Richard  1882   M     746  0.006562
 4985  4986         Joe  1882   M     739  0.006500
 4986  4987      Andrew  1882   M     673  0.005920
 4987  4988        Will  1882   M     666  0.005858
 4988  4989       Jesse  1882   M     660  0.005805
 4989  4990      Ernest  1882   M     642  0.005647
 4990  4991       Oscar  1882   M     625  0.005498
 4991  4992      Daniel  1882   M     594  0.005225
 4992  4993         Sam  1882   M     555  0.004882
 ...    ...         ...   ...  ..     ...       ...
 6032  6033      Russel  1882   M       5  0.000044
 6033  6034      Sameul  1882   M       5  0.000044
 6034  6035       Samul  1882   M       5  0.000044
 6035  6036    Schuyler  1882   M       5  0.000044
 6036  6037      Seldon  1882   M       5  0.000044
 6037  6038     Soloman  1882   M       5  0.000044
 6038  6039       Solon  1882   M       5  0.000044
 6039  6040    Stafford  1882   M       5  0.000044
 6040  6041     Stanton  1882   M       5  0.000044
 6041  6042      Sumner  1882   M       5  0.000044
 6042  6043  Theophilus  1882   M       5  0.000044
 6043  6044    Thompson  1882   M       5  0.000044
 6044  6045      Tilden  1882   M       5  0.000044
 6045  6046        Toby  1882   M       5  0.000044
 6046  6047        True  1882   M       5  0.000044
 6047  6048       Urban  1882   M       5  0.000044
 6048  6049       Uriah  1882   M       5  0.000044
 6049  6050         Val  1882   M       5  0.000044
 6050  6051       Vance  1882   M       5  0.000044
 6051  6052       Verne  1882   M       5  0.000044
 6052  6053       Vince  1882   M       5  0.000044
 6053  6054      Vivian  1882   M       5  0.000044
 6054  6055        Whit  1882   M       5  0.000044
 6055  6056     Willaim  1882   M       5  0.000044
 6056  6057    Winifred  1882   M       5  0.000044
 6057  6058        Wirt  1882   M       5  0.000044
 6058  6059     Woodson  1882   M       5  0.000044
 6059  6060       Woody  1882   M       5  0.000044
 6060  6061      Worley  1882   M       5  0.000044
 6061  6062         Zed  1882   M       5  0.000044

 [1099 rows x 6 columns],
 (1883, 'F'):         id        name  year sex  births      prop
 6062  6063        Mary  1883   F    8012  0.071331
 6063  6064        Anna  1883   F    3306  0.029433
 6064  6065        Emma  1883   F    2367  0.021074
 6065  6066   Elizabeth  1883   F    2255  0.020076
 6066  6067      Minnie  1883   F    2035  0.018118
 6067  6068    Margaret  1883   F    1881  0.016747
 6068  6069      Bertha  1883   F    1681  0.014966
 6069  6070         Ida  1883   F    1634  0.014548
 6070  6071       Annie  1883   F    1589  0.014147
 6071  6072       Clara  1883   F    1548  0.013782
 6072  6073       Alice  1883   F    1488  0.013248
 6073  6074       Sarah  1883   F    1359  0.012099
 6074  6075       Grace  1883   F    1307  0.011636

In [56]:
grouped_sample = grouped_names_with_prop_dict[(2011,"M")]

In [58]:
grouped_sample.head(10)

              id       name  year sex  births      prop
1711173  1711174      Jacob  2011   M   20331  0.010739
1711174  1711175      Mason  2011   M   19488  0.010294
1711175  1711176    William  2011   M   17314  0.009145
1711176  1711177     Jayden  2011   M   16954  0.008955
1711177  1711178       Noah  2011   M   16838  0.008894
1711178  1711179    Michael  2011   M   16744  0.008844
1711179  1711180      Ethan  2011   M   16665  0.008802
1711180  1711181  Alexander  2011   M   15681  0.008283
1711181  1711182      Aiden  2011   M   15469  0.008171
1711182  1711183     Daniel  2011   M   15249  0.008054

In [62]:
grouped_sample.sort_values(by="births",ascending=False).iloc[:10]

              id       name  year sex  births      prop
1711173  1711174      Jacob  2011   M   20331  0.010739
1711174  1711175      Mason  2011   M   19488  0.010294
1711175  1711176    William  2011   M   17314  0.009145
1711176  1711177     Jayden  2011   M   16954  0.008955
1711177  1711178       Noah  2011   M   16838  0.008894
1711178  1711179    Michael  2011   M   16744  0.008844
1711179  1711180      Ethan  2011   M   16665  0.008802
1711180  1711181  Alexander  2011   M   15681  0.008283
1711181  1711182      Aiden  2011   M   15469  0.008171
1711182  1711183     Daniel  2011   M   15249  0.008054

In [63]:
def get_top1000(agg_df):
    top1000_df = agg_df.sort_values(by="births",ascending=False).iloc[:1000]
    return top1000_df

In [65]:
top1000_names = names_with_prop.groupby(["year","sex"]).apply(get_top1000)

In [68]:
top1000_names.head(10)

            id       name  year sex  births      prop
year sex
1880 F   0   1       Mary  1880   F    7065  0.077643
         1   2       Anna  1880   F    2604  0.028618
         2   3       Emma  1880   F    2003  0.022013
         3   4  Elizabeth  1880   F    1939  0.021309
         4   5     Minnie  1880   F    1746  0.019188
         5   6   Margaret  1880   F    1578  0.017342
         6   7        Ida  1880   F    1472  0.016177
         7   8      Alice  1880   F    1414  0.015540
         8   9     Bertha  1880   F    1320  0.014507
         9  10      Sarah  1880   F    1288  0.014155

In [69]:
names_with_prop.loc[(names_with_prop["year"]==2011)&\
                    (names_with_prop["sex"]=="M")].shape

(14329, 6)

In [71]:
top1000_names.loc[(2011,"M")].shape

(1000, 6)

In [72]:
top1000_names.loc[(2012,"M")].shape

(1000, 6)