- import packages
- mysql.world.country -> mongodb
    - connect mysql
    - get datas(dataframe)
    - connect mongodb
    - dataframe parsing to list(dict)
    - insert
- mongodb.crawling.zigbang -> mysql
    - connect mongodb
    - get datas(dataframe)
    - filtering columns
    - connect mysql
    - insert

In [4]:
import MySQLdb, pymongo
import pandas as pd
from sqlalchemy import create_engine # for migration dataframe -> mysql

## MySQL ->  MongoDB

In [6]:
ip='13.125.255.151'
db=MySQLdb.connect(
    ip,
    "root",
    "godusj",
    "world",
    charset="utf8",
)
db

In [7]:
QUERY = """
    SELECT *
    FROM country
"""

In [8]:
country_df = pd.read_sql(QUERY,db)
country_df.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [25]:
# connect mongoDB
client = pymongo.MongoClient('mongodb://{ip}:27017'.format(ip=ip))
client

MongoClient(host=['13.125.255.151:27017'], document_class=dict, tz_aware=False, connect=True)

In [26]:
collection = client.world.country
collection

Collection(Database(MongoClient(host=['13.125.255.151:27017'], document_class=dict, tz_aware=False, connect=True), 'world'), 'country')

In [27]:
# parsing
datas = country_df.to_dict("records")
len(datas)

239

In [28]:
datas[0]

{'Capital': 129.0,
 'Code': 'ABW',
 'Code2': 'AW',
 'Continent': 'North America',
 'GNP': 828.0,
 'GNPOld': 793.0,
 'GovernmentForm': 'Nonmetropolitan Territory of The Netherlands',
 'HeadOfState': 'Beatrix',
 'IndepYear': nan,
 'LifeExpectancy': 78.4,
 'LocalName': 'Aruba',
 'Name': 'Aruba',
 'Population': 103000,
 'Region': 'Caribbean',
 'SurfaceArea': 193.0}

In [29]:
#insert
result = collection.insert_many(datas)
len(result.inserted_ids)

239

In [30]:
# check
documents = collection.find()
df = pd.DataFrame(list(documents))
df.tail()

,Capital,Code,Code2,Continent,GNP,GNPOld,GovernmentForm,HeadOfState,IndepYear,LifeExpectancy,LocalName,Name,Population,Region,SurfaceArea,_id
712,1780.0,YEM,YE,Asia,6041.0,5729.0,Republic,Ali Abdallah Salih,1918.0,59.8,Al-Yaman,Yemen,18112000,Middle East,527968.0,5b593d3745c9357c1fd1df7c
713,1792.0,YUG,YU,Europe,17000.0,NaN,Federal Republic,Vojislav Koštunica,1918.0,72.4,Jugoslavija,Yugoslavia,10640000,Southern Europe,102173.0,5b593d3745c9357c1fd1df7d
714,716.0,ZAF,ZA,Africa,116729.0,129092.0,Republic,Thabo Mbeki,1910.0,51.1,South Africa,South Africa,40377000,Southern Africa,1221037.0,5b593d3745c9357c1fd1df7e
715,3162.0,ZMB,ZM,Africa,3377.0,3922.0,Republic,Frederick Chiluba,1964.0,37.2,Zambia,Zambia,9169000,Eastern Africa,752618.0,5b593d3745c9357c1fd1df7f
716,4068.0,ZWE,ZW,Africa,5951.0,8670.0,Republic,Robert G. Mugabe,1980.0,37.8,Zimbabwe,Zimbabwe,11669000,Eastern Africa,390757.0,5b593d3745c9357c1fd1df80

In [31]:
# delete database
client.drop_database("world")

---

## MongoDB -> MySQL

In [34]:
# connect mongoDB
client = pymongo.MongoClient('mongodb://{ip}:27017'.format(ip=ip))
collection = client.crawling.zigbang
collection

Collection(Database(MongoClient(host=['13.125.255.151:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [61]:
# make dataframe datas
documents = collection.find()
zigbang_df = pd.DataFrame(list(documents))
zigbang_df.tail(3)

,_floor,_id,address1,address2,address3,agent_address1,agent_comment,agent_email,agent_lat,agent_lng,...,updated_at2,user_email,user_has_no_penalty,user_has_penalty,user_intro,user_mobile,user_name,user_no,user_phone,view_count
57,3층,5b5934e645c935767b88fb21,서울시 송파구 방이동,159-16,None,서울특별시 송파구 백제고분로36가길 7-1,★★ 가성비 좋은 집 구해드립니다. ★★\n\n♥ 직접 촬영한 실매물만 소개해드립니...,evergreen0118@naver.com,37.503994,127.101028,...,2018-07-17,evergreen0118@naver.com,True,False,,0507-1281-0834,중개보조원 홍세림,3338106,0507-1281-0834,242
58,옥탑방,5b5934e645c935767b88fb22,서울시 송파구 방이동,141-17,None,서울특별시 송파구 잠실동 245-16 1층,★보증금 월세 조절의 달인!! 문의부터 주세요★\n★송파구 전지역 원하시는 조건에 ...,bsw02122@naver.com,37.506359,127.088776,...,2018-07-26,bsw02122@naver.com,True,False,,0507-1281-7596,대표공인중개사 백승원,2417479,0507-1281-7596,1315
59,2층,5b5934e645c935767b88fb23,서울시 송파구 송파동,118-25,None,"서울특별시 송파구 백제고분로39길 12, 서희빌딩 103호",저희 금탑공인중개사는 허위매물없이 실매물로만 손님 여러분께 최선을 다해 보답해 드리...,latefall--@hanmail.net,37.505478,127.104958,...,2018-07-09,latefall--@hanmail.net,True,False,,0507-1281-9400,대표공인중개사 임창미,227750,0507-1281-9400,741

In [44]:
# filtering
documents = collection.find(
                            {},
                            {"_id":False,"address1":True, "options":True, "size":True, "deposit":True, "rent":True} # select
                           )
filtered_df = pd.DataFrame(list(documents))
filtered_df.tail()

        address1  deposit                    options  rent  size
55   서울시 송파구 오금동    10000                          -    60  25.5
56  서울시 송파구 가락2동    10000              가스레인지,신발장,싱크대    60  14.0
57   서울시 송파구 방이동     2000    에어컨,냉장고,세탁기,인덕션,신발장,싱크대    35   6.0
58   서울시 송파구 방이동     1000            에어컨,냉장고,세탁기,인덕션    45   7.0
59   서울시 송파구 송파동    23000  에어컨,냉장고,세탁기,가스레인지,신발장,싱크대     0  13.0

In [53]:
# insert - 데이터 베이스의 인코딩을 utf8로 변경해야 한글데이터가 insert 됩니다.
# alter database test character set = utf8;
engine = create_engine("mysql://root:godusj@{ip}/test".format(ip=ip))
engine

Engine(mysql://root:***@13.125.255.151/test)

In [54]:
filtered_df.to_sql("zigbang", engine, if_exists='replace')

In [63]:
test_db=MySQLdb.connect(
    ip,
    "root",
    "godusj",
    "test",
    charset="utf8",
)
test_db

In [55]:
QUERY = """
    select *
    from zigbang
"""

In [68]:
pd.read_sql(QUERY, test_db).set_index('index')

,address1,deposit,options,rent,size
index,,,,,
0,서울시 송파구 송파1동,22000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",0,13.0
1,서울시 송파구 가락동,17000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",0,8.0
2,서울시 송파구 송파동,1000,"에어컨,신발장,싱크대",80,13.0
3,서울시 송파구 가락본동,500,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",40,7.0
4,서울시 송파구 가락동,23000,"인덕션,신발장,싱크대",0,14.0
5,서울시 송파구 송파동,27000,"신발장,싱크대",0,19.0
6,서울시 송파구 오금동,27000,"가스레인지,신발장,싱크대",0,18.0
7,서울시 송파구 송파동,500,"에어컨,냉장고,세탁기,가스레인지,책상,침대,옷장,신발장,싱크대",40,7.0
8,서울시 송파구 방이동,26000,"신발장,싱크대",0,16.0
9,서울시 송파구 방이동,2000,"에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대",40,6.0
10,서울시 송파구 가락동,35000,"가스레인지,신발장,싱크대",0,24.0
11,서울시 송파구 가락동,1000,"에어컨,냉장고,가스레인지,신발장,싱크대",40,5.0
12,서울시 송파구 송파동,25000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",0,14.0
13,서울시 송파구 방이동,12000,"신발장,싱크대",40,13.0
14,서울시 송파구 가락동,1000,"에어컨,냉장고,세탁기,가스레인지,옷장,신발장,싱크대",70,11.9
15,서울시 송파구 방이동,24000,"가스레인지,신발장,싱크대",0,15.0
16,서울시 송파구 방이동,80,"에어컨,냉장고,세탁기,가스레인지,인덕션,침대,옷장,신발장,싱크대",80,6.0
17,서울시 송파구 가락동,24000,"가스레인지,신발장,싱크대",0,16.0
18,서울시 송파구 방이동,1000,"에어컨,냉장고,세탁기,가스레인지,옷장,신발장,싱크대",40,6.0
19,서울시 송파구 방이동,500,"에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대",45,7.5
20,서울시 송파구 송파동,25000,"가스레인지,신발장,싱크대",0,14.0
21,서울시 송파구 오금동,2000,"에어컨,냉장고,세탁기,가스레인지,옷장,신발장,싱크대",90,13.0
22,서울시 송파구 방이동,66,"에어컨,냉장고,세탁기,인덕션,전자레인지,침대,옷장,신발장,싱크대",66,8.0
23,서울시 송파구 방이동,72,"에어컨,냉장고,세탁기,가스레인지,전자레인지,침대,옷장,신발장,싱크대",72,8.0
24,서울시 강동구 성내3동,13000,-,0,17.0
25,서울시 송파구 가락동,27000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",0,14.0
26,서울시 송파구 가락동,17000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",0,7.0
27,서울시 송파구 방이동,25000,"신발장,싱크대",50,25.0
28,서울시 송파구 송파동,25000,"신발장,싱크대",0,15.0
29,서울시 송파구 방이동,26000,"신발장,싱크대",0,15.0
30,서울시 송파구 방이동,16000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",0,8.0
31,서울시 송파구 송파동,1000,"에어컨,냉장고,세탁기,가스레인지,책상,책장,옷장,신발장,싱크대",45,7.0
32,서울시 송파구 송파동,16500,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",0,8.0
33,서울시 송파구 송파동,25000,"에어컨,세탁기,인덕션",0,13.0
34,서울시 송파구 송파동,28000,"가스레인지,신발장,싱크대",0,17.0
35,서울시 송파구 방이동,2000,-,70,16.0
36,서울시 송파구 가락동,1000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",40,11.0
37,서울시 송파구 송파동,1000,"가스레인지,신발장,싱크대",45,7.0
38,서울시 송파구 송파동,1000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",50,7.5
39,서울시 송파구 송파동,2000,"신발장,싱크대",70,13.0
40,서울시 송파구 송파동,25000,"에어컨,냉장고,세탁기,가스레인지,책장,신발장,싱크대",0,14.0
41,서울시 송파구 송파동,1500,"에어컨,냉장고,세탁기,가스레인지,책장,신발장,싱크대",45,7.0
42,서울시 송파구 방이동,1000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",60,8.0
43,서울시 송파구 방이동,26000,"신발장,싱크대",0,18.0
44,서울시 송파구 방이동,100,"에어컨,냉장고,세탁기,가스레인지,전자레인지,침대,옷장,신발장,싱크대",110,9.0
45,서울시 송파구 송파동,16500,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",0,14.1
46,서울시 송파구 방이동,1000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",50,6.0
47,서울시 송파구 방이동,150,"에어컨,냉장고,세탁기,가스레인지,전자레인지,침대,옷장,신발장,싱크대",98,10.0
48,서울시 송파구 송파동,1000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",65,9.0
49,서울시 강동구 성내동,10000,"신발장,싱크대",0,8.0
50,서울시 송파구 방이동,19000,"신발장,싱크대",0,13.0
51,서울시 송파구 방이동,16000,"에어컨,냉장고,세탁기,인덕션,책장,옷장,신발장,싱크대",0,8.0
52,서울시 송파구 오금동,30000,"에어컨,가스레인지,신발장,싱크대",0,21.0
53,서울시 송파구 송파동,500,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",55,9.0
54,서울시 송파구 송파동,25000,"에어컨,세탁기,인덕션,옷장,신발장,싱크대",0,14.0
55,서울시 송파구 오금동,10000,-,60,25.5
56,서울시 송파구 가락2동,10000,"가스레인지,신발장,싱크대",60,14.0
57,서울시 송파구 방이동,2000,"에어컨,냉장고,세탁기,인덕션,신발장,싱크대",35,6.0
58,서울시 송파구 방이동,1000,"에어컨,냉장고,세탁기,인덕션",45,7.0
59,서울시 송파구 송파동,23000,"에어컨,냉장고,세탁기,가스레인지,신발장,싱크대",0,13.0

In [69]:
# drop
DROP_QUERY = """
    DROP TABLE zigbang
"""
curs = test_db.cursor()

In [70]:
curs.execute(DROP_QUERY)

0

In [72]:
test_db.commit()