#### 파이썬 기본 문법
- 기본(comment, print)
- 식별자
- 변수
- 데이터 타입
- 데이터 형변화
- 연산자

In [1]:
# 주석
# 코드가 실행되지 않는 라인, 코드에 대한 설명이나 잠시 코드 사용을 안하고 싶을때

In [5]:
# a와 b변수 선언
a = 1
b = 2
# a, b

In [10]:
# 출력 - print
print("dss7", end="\t")
print("dss8")

dss7	dss8

In [14]:
# 출력 - format
s = "data"
n = 1
print("{}. {} science".format(n, s))

1. data science

In [17]:
print("{number}. {st} science".format(st=s, number=n))

1. data science

In [22]:
print("this is good data science school!\
 this is good data science school!\
 this is good data science school!")

this is good data science school! this is good data science school! this is good data science school!

##### 식별자
- 변수, 함수, 클래스, 모듈, 패키지 등등을 구분하기 위해서 사용되는 이름을 식별자
- 규칙
    - 대소문자 구분
    - 소문자(a~z), 대문자(A~Z), 숫자(0~9) 특수기호(_)
    - 가장 앞에 `__` 사용을 지양
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용불가 : print, def, class, True, False ...

In [25]:
A = 1
a = 2
A, a

(1, 2)

##### 변수 - variable

In [27]:
# 선언
a = 1
b = "python"
a, b

(1, 'python')

In [28]:
abc% = 10

SyntaxError: invalid syntax (<ipython-input-28-4546b0721623>, line 1)

In [29]:
1_abc = 10

SyntaxError: invalid token (<ipython-input-29-318025598a52>, line 1)

In [30]:
class = 10

SyntaxError: invalid syntax (<ipython-input-30-0fe4cedaeb70>, line 1)

In [31]:
a, b = 1, 2
a, b

(1, 2)

In [32]:
c = d = e = 3
c, d, e

(3, 3, 3)

In [33]:
c = 5

In [34]:
c, d, e

(5, 3, 3)

##### 자료형 - Datatype
- number : int, float, complex
- boolean : True, False
- string : 문자들의 집합
- collenction
    - List
    - Tuple
    - Dictionary
    - Set

In [35]:
# number - int
# python 2.x(-2**31-1 ~ 2**31), python 3.x (무제한)

In [37]:
# 선언
a, b, c, d = 0, 1234, -6789, +2345
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

(0, 1234, -6789, 2345)

In [38]:
# number - float
# 선언
a, b, c, d = 0.0, 1234.123, -6789.123, +2345.123
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'float'> <class 'float'> <class 'float'> <class 'float'>

(0.0, 1234.123, -6789.123, 2345.123)

In [42]:
# number - complex
# 선언
a = 2 + 3j
b = complex(5, -2)
type(a), a, type(b), b

(complex, (2+3j), complex, (5-2j))

In [44]:
a.real, a.imag, type(a.real), type(a.imag)

(2.0, 3.0, float, float)

In [45]:
a + b, a * b, a / b

((7+1j), (16+11j), (0.1379310344827586+0.6551724137931034j))

In [47]:
a.conjugate(), b.conjugate()

((2-3j), (5+2j))

In [48]:
abs(a), abs(b)

(3.605551275463989, 5.385164807134504)

In [49]:
# boolean
a, b = True, False
print(type(a), type(b))
a, b

<class 'bool'> <class 'bool'>

(True, False)

In [50]:
# String

In [56]:
# 선언
a, b, c, d = "data", 'science', 'data "science" good', "data 'science' good"
print(type(a))
a, b, c, d

<class 'str'>

('data', 'science', 'data "science" good', "data 'science' good")

In [59]:
# multy line
ms = """data
science
school"""
print(ms)

data
science
school

In [60]:
# docstring을 작성할때 많이 사용됩니다.
def test(a,b,c):
    """
    a: float
    b: string
    c: interger
    """

In [61]:
a = "data " * 10
a

'data data data data data data data data data data '

In [62]:
# String - offset

In [69]:
s = "abcdef"
d = "2015-11-21"
s[3], s[-2], s[1:3], d[-2:]

('d', 'e', 'bc', '21')

In [75]:
# step - reverse가 가능
s[::2], s[::-1]

('ace', 'fedcba')

In [74]:
s

'abcdef'

In [80]:
# string method

In [84]:
s = 'Data Science'
s

'Data Science'

In [86]:
s1 = s.upper()
s1

'DATA SCIENCE'

In [88]:
s2 = s.lower()
s2

'data science'

In [90]:
s.upper().lower()

'data science'

In [94]:
s.find("a"), s.find("ta"), s.find("test")

(1, 2, -1)

In [96]:
s.index("a"), s.index("ta"), s.index("test")

ValueError: substring not found

In [98]:
s

'Data Science'

In [103]:
s = "data java python data"

In [104]:
s.count("data")

2

In [107]:
s = " data science "
s.lstrip(), s.rstrip(), s.strip()

('data science ', ' data science', 'data science')

In [110]:
s.replace("data", "test"), s.replace("a", "e")

(' test science ', ' dete science ')

In [113]:
s.strip().split(" ")

['data', 'science']

In [114]:
s = "data,science"
s.split(",")

['data', 'science']

##### List
- 순서가 있는 데이터들의 집합인 데이터 타입

In [115]:
# 선언
a = ["fast", "campus", "data", "science"]
b = [1, 2, [3,4]]
c = [1, "fast", True]
print(type(a), type(b), type(c))
a, b, c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, [3, 4]], [1, 'fast', True])

In [116]:
# offset
a

['fast', 'campus', 'data', 'science']

In [121]:
a[1], a[-2], a[:], a[::2], a[::-1]

('campus',
 'data',
 ['fast', 'campus', 'data', 'science'],
 ['fast', 'data'],
 ['science', 'data', 'campus', 'fast'])

In [123]:
a[0] = "test"
a

['test', 'campus', 'data', 'science']

In [124]:
# list method
a.append("dss8")
a

['test', 'campus', 'data', 'science', 'dss8']

In [128]:
a.sort()

In [129]:
a[::-1]

['test', 'science', 'dss8', 'data', 'campus']

In [131]:
a.reverse()

In [132]:
a

['test', 'science', 'dss8', 'data', 'campus']

In [136]:
a.index("dss8")

2

In [138]:
a.remove("dss8")

In [139]:
a

['test', 'science', 'data', 'campus']

In [140]:
a.insert(1, "dss8")
a

['test', 'dss8', 'science', 'data', 'campus']

In [141]:
a.pop()

'campus'

In [142]:
a

['test', 'dss8', 'science', 'data']

In [144]:
# list copy
a = [1,2,3]
b = a
a, b

([1, 2, 3], [1, 2, 3])

In [145]:
a[2] = 10

In [146]:
a, b

([1, 2, 10], [1, 2, 10])

In [147]:
c = a.copy()
a, b, c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [148]:
b[2] = 100

In [149]:
a, b, c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

##### Tuple
- 리스트와 같이 순서가 있는 데이터 타입 입니다. 하지만 변경이 불가능 합니다.
- 리스트 보다 메모리 적게 사용합니다.

In [150]:
# 선언
a = 1, 2, 3, 4
a

(1, 2, 3, 4)

In [152]:
b = (1, 2, 3, 4)
type(b), b

(tuple, (1, 2, 3, 4))

In [155]:
# offset
b[1], b[-1], b[:2], b[1:], b[::-1]

(2, 4, (1, 2), (2, 3, 4), (4, 3, 2, 1))

In [157]:
b, b[1]

((1, 2, 3, 4), 2)

In [158]:
b[1] = 10

TypeError: 'tuple' object does not support item assignment

In [160]:
import sys

ls = [1,2,3,4,5]
tu = (1,2,3,4,5)
print(sys.getsizeof(ls), sys.getsizeof(tu)) # byte

104 88

##### Dictionary
- 데이터의 순서가 없습니다. 
- 여러개의 (키:값) 쌍으로 이루어져 있는 데이터 타입입니다.

In [25]:
# 선언
dic = {
    1:"one",
    "A":["data", "science"],
    "숫자":1234,
    2:"two",
}
type(dic), dic

(dict, {1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

In [10]:
dic[1] = "하나"

In [11]:
dic["A"]

['data', 'science']

In [13]:
dic

{1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234}

In [14]:
# dic element 삭제
del dic[1]
dic

{2: 'two', 'A': ['data', 'science'], '숫자': 1234}

In [15]:
# dictionary method
# - keys, values, items, clear, get, copy, update

In [19]:
dic, dic.keys(), dic.values()

({2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 dict_keys(['A', '숫자', 2]),
 dict_values([['data', 'science'], 1234, 'two']))

In [20]:
dic.items()

dict_items([('A', ['data', 'science']), ('숫자', 1234), (2, 'two')])

In [21]:
for key, value in dic.items():
    print(key, value)

A ['data', 'science']
숫자 1234
2 two

In [23]:
dic.clear()

In [24]:
dic

{}

In [29]:
dic, dic.get(1), dic.get(2)

({1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234}, 'one', 'two')

In [32]:
dic.get(3, "no data")

'no data'

In [31]:
dic[3]

KeyError: 3

In [33]:
# copy
dic2 = dic
dic, dic2

({1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 {1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

In [34]:
dic[1] = "하나"

In [35]:
dic, dic2

({1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

In [36]:
dic3 = dic.copy()
dic, dic3

({1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

In [37]:
dic[1] = "one"
dic, dic3

({1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 {1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

In [38]:
# update
a = {1:"a", 2:"b"}
b = {2:"c", 3:"d"}
a, b

({1: 'a', 2: 'b'}, {2: 'c', 3: 'd'})

In [39]:
a.update(b)
a

{1: 'a', 2: 'c', 3: 'd'}

##### Set
- 중복되는 데이터가 없는 형태의 데이터 타입입니다.
- 교집합, 합집합, 차집합과 같은 연산도 가능
- 리스트 데이터에서 중복을 제거할때 많이 활용
- 순서가 있는 데이터 타입은 아닙니다.

In [40]:
# 선언
s = set([1,2,3,4,5,1,3,5])
type(s), s

(set, {1, 2, 3, 4, 5})

In [45]:
# 연산
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [49]:
s = list(s)
s[0] = 10
s = set(s)
s

{2, 3, 4, 5, 10}

In [50]:
def test():
    return 10

In [51]:
type(test)

function

##### 데이터 형변환
- 데이터 타입을 다른 데이터 타입으로 바꾸는것
- 바꾸려는 데이터 타입에 따라서 형변환이 되는것도 있고 안되는것도 있습니다.

In [53]:
# 문자열과 숫자
s = "1234"
n = int(s)
type(s), s, type(n), n

(str, '1234', int, 1234)

In [55]:
int(s) + 1

1235

In [58]:
s + str(n)

'12341234'

In [60]:
# boolean 형변환
bool([]), bool([1,2,3])

(False, True)

In [63]:
bool(-1), bool(0), bool(123)

(True, False, True)

In [64]:
bool(""), bool("asdf")

(False, True)

In [70]:
a, b = "", "a"

print(bool(a), bool(b))

if a:
    print("a is data")

if b:
    print("b is data")

False True
b is data

In [71]:
# 문자열을 리스트로 형변환
s = "data"
list(s)

['d', 'a', 't', 'a']

In [74]:
# 튜플과 딕셔너리의 형변환
# 튜플은 key value 형태로 되어있는 딕셔너리로 형변환이 가능합니다.
t = (("1","one"), (2,"둘"))
d = dict(t)
d

{'1': 'one', 2: '둘'}

In [75]:
d.items()

dict_items([('1', 'one'), (2, '둘')])

In [78]:
tuple(d.items())

(('1', 'one'), (2, '둘'))

##### 연산자
- 산술연산자, 비교연산자, 할당연산자, 비트연산자, 논리연산자, 멤버연산자, 식별연산자

In [80]:
# 산술연산자 : +, -, *, /, //(몫), %(나머지), **(제곱)
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(5 / 2)

6
-2
8
2.5

In [81]:
print(10 // 3)
print(10 % 3)
print(3 ** 4)

3
1
81

In [82]:
# 루트
2 ** 0.5

1.4142135623730951

In [92]:
# 비교연산자 : a == b, a != b, >, <, >=, <=
a, b, c = 10, 20, 10
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= c)
print(a >= c)

False
True
False
True
True
True

In [103]:
# 할당 연산자
a = 5
print(a)

# a = a + 10
a += 10
print(a)

a *= 10
print(a)

a /= 5
print(a)

a //= 8
print(a)

a %= 2
print(a)

a = 2
a **= 3
print(a)

5
15
150
30.0
3.0
1.0
8

In [109]:
a = 0
for num in range(1, 6):
    a += num
a

15

In [117]:
# 비트 연산자 : &, |, ^, ~, <<, >>
a = 3 # 011 
b = 5 # 101

print(a&b, bin(a&b)) # 1 : 001
print(a|b, bin(a|b)) # 7 : 111
print(a^b, bin(a^b)) # XOR 6 : 110
print(~a, bin(~a)) # 보수 : 3의 보수는 -4
print(a<<2, bin(a<<2)) # * 2**n
print(b>>2, bin(b>>2)) # / 2**n

1 0b1
7 0b111
6 0b110
-4 -0b100
12 0b1100
1 0b1

In [121]:
# 논리 연산자 : and, a or b, not
print(True and True)
print(True and False)

print(True or True)
print(True or False)

#print(not(not(a < b) or c > d))

print(not(False))
print(not(True))

True
False
True
True
True
False

In [123]:
# 멤버 연산자 : in, not in
a = [1,2,3,4]
print(1 in a)
print(5 in a)

print(1 not in a)
print(5 not in a)

True
False
False
True

In [126]:
# 식별 연산자 : is, is not
a = "a"
b = a
print(a is b)

c = "a"
print(a is c)

print(a is not c)

True
True
False

In [127]:
a = [1,2,3]
b = a
print(a is b)

True

In [129]:
c = a.copy()
print(a is c)

False