### Condition & Loop

In [2]:
# input : 입력
s = input("insert string : ")
print(type(s), s)

insert string : data science
<class 'str'> data science

In [4]:
n = int(input("insert integer : "))
print(type(n), n)

insert integer : 1234
<class 'int'> 1234

In [5]:
ls = input("insert list (sep=' '): ")
ls = ls.split(" ")
print(type(ls), ls)

insert list (sep=' '): 1 2 3 abc
<class 'list'> ['1', '2', '3', 'abc']

In [7]:
n = int(input("number : "))
for number in range(n):
    print(number, end=" ")

number : 5
0 1 2 3 4

In [9]:
# 출력
s = "test"
print(s, "page")

test page

In [25]:
# 출력 - pprint : 딕셔너리와 같은 데이터 복잡할때 사용
from pprint import pprint

dic = {"A":"test", "B":"data", "C":"science", "D":"science", "E":"science", "F":"science", "G":{"T":"ttt"} }
print(dic)

{'A': 'test', 'B': 'data', 'C': 'science', 'D': 'science', 'E': 'science', 'F': 'science', 'G': {'T': 'ttt'}}

In [26]:
pprint(dic)

{'A': 'test',
 'B': 'data',
 'C': 'science',
 'D': 'science',
 'E': 'science',
 'F': 'science',
 'G': {'T': 'ttt'}}

In [33]:
# 조건문 - if, else, elif
flag = False
if flag:
    print("dss")
print("done")

done

In [34]:
# else
flag = False
if flag:
    print("dss")
else:
    print("data")
print("done")

data
done

In [35]:
# elif
# 10~8 - A
# 7~4 - B
# 3~0 - C

In [38]:
point = 7
result = ""
if point >= 8:
    result = "A"
elif point < 8 or point >= 4:
    result = "B"
else:
    result = "C"
print("done", result)

done B

In [39]:
if point >= 8:
    result = "A"
if point < 8 or point >= 4:
    result = "B"
if point <= 3:
    result = "C"
print("done", result)

done B

In [41]:
# 숫자를 하나 입력 받아서 홀수이면 "odd", 짝수이면 "even" 를 출력하는 코드를 만드세요.
number = int(input("insert number : "))
if number % 2 == 0:
    print("even")
else:
    print("odd")

insert number : 4
even

In [43]:
# 삼항연산
# (True) if (condition) else (False)
number = int(input("insert number : "))
result = "even" if number % 2 == 0 else "odd"
print(result)

insert number : 8
even

##### 반복 - loop
- while, for, break, continue, list comprehension

##### while

In [ ]:
while (조건):
    code

In [44]:
a = 3
while a > 0:
    print(a)
    a -= 1
a

3
2
1

0

In [45]:
# break - break 코드 만나면 강제로 반복문이 종료됩니다.
a = 3
while a > 0:
    print(a)
    if a == 2:
        break
    a -= 1
a

3
2

2

In [46]:
# continue - continue 코드 만나면 바로 반복문 구문으로 이동됩니다.
a = 3
while a > 0:
    print(a)
    if a == 2:
        a = 0
        continue
    a -= 1
a

3
2

0

##### For
- range, zip, enumerate

In [49]:
# range
ls = [0,1,2,3,4,5]
ls

[0, 1, 2, 3, 4, 5]

In [53]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [55]:
list(range(2,6))

[2, 3, 4, 5]

In [57]:
list(range(0,6,2))

[0, 2, 4]

In [58]:
list(range(6,0,-1))

[6, 5, 4, 3, 2, 1]

```
for (value) in (collection):
    code (value)
```

In [68]:
ls = ["data", "science", "school", "school", "school"]
for idx in range(len(ls)):
    print(ls[idx])

data
science
school
school
school

In [69]:
# zip - 2개의 리스트를 key value 형태로 묶어주는 함수
subs = ["math", "english", "science"]
points = [100, 80, 90]

dic = {"math":100, "english":80, "science":90}

result = {}
for idx in range(len(subs)):
    result[subs[idx]] = points[idx]
result

{'english': 80, 'math': 100, 'science': 90}

In [70]:
for sub, point in zip(subs, points):
    result[sub] = point
result

{'english': 80, 'math': 100, 'science': 90}

In [73]:
tuple(zip(subs, points)), dict(zip(subs, points))

((('math', 100), ('english', 80), ('science', 90)),
 {'english': 80, 'math': 100, 'science': 90})

In [76]:
# enumerate - 리스트형태의 데이터를 index와 value를 동시에 사용이 가능합니다.
ls = ["math", "science", "korean"]
num = 0
for value in ls:
    print(num, value)
    num += 1

0 math
1 science
2 korean

In [79]:
ls = ["math", "science", "korean", "science"]
filtered_ls = []
for num, value in enumerate(ls):
    if value == "science":
        filtered_ls.append(num)
    print(num, value)
filtered_ls

0 math
1 science
2 korean
3 science

[1, 3]

In [80]:
# 퀴즈 - for문을 이용해서 numbers에 안에 있는 숫자를 모두 더해서 result 변수에 넣어 출력해주세요.
numbers = [1,3,5,7,9]
result = 0

for number in numbers:
    result += number
    
result

25

##### List Comprehention
- 반복되어 출력되는 리스트 형태의 데이터를 만들어 주는 문법.
- for문 보다 속도가 빠름.
- ls = `[<value> for <value> in <list> (if <condition>)]`

In [5]:
ls = [1,2,3,4,5]

ls = [] 
ls.append(1)
ls.append(2)
ls.append(3)

ls = []
for num in range(1,6):
    ls.append(num)

ls = [num for num in range(1,6)]
    
ls

[1, 2, 3, 4, 5]

In [13]:
%%timeit
ls = []
for num in range(1,10001):
    ls.append(num)
len(ls)

826 µs ± 9.29 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [9]:
ls[-5:]

[9996, 9997, 9998, 9999, 10000]

In [14]:
%%timeit
ls = [num for num in range(1,10001)]
len(ls)

339 µs ± 11.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
ls[-5:]

[9996, 9997, 9998, 9999, 10000]

In [18]:
# 삼항연산 사용
# 0 ~ 10까지 숫자를 출력하고 해당 숫가 짝수인지 홀수인지를 판별해서 ood, even 문자열을 추가하는 코드
ls = [ str(num) + ":even" if num % 2 == 0 else str(num) + ":odd" for num in range(4) ]
ls

['0:even', '1:odd', '2:even', '3:odd']

In [20]:
# 조건 if 사용
# 홀수만 출력되게 코드 작성
ls = [num for num in range(11) if num % 2 == 1]
ls

[1, 3, 5, 7, 9]

In [22]:
# 퀴즈 - lee씨 성을 가진사람의 성을 삭제하는 코드를 작성하세요
names = ["kim dss", "lee python", "park data", "lee macpro"]

result = [
    # TODO
    name.split(" ")[1] if name.split(" ")[0] == "lee" else name
    for name in names
    if name.split(" ")[0] != "park"
]

result 
# result_1 - ["kim dss", "python", "park data", "macpro"] # lee씨 성을 가진 이름에서 성을 제거
# result_2 - ["kim dss", "python", "macpro"] # park씨 성을 가진 데이터 제거

['kim dss', 'python', 'macpro']