#### Groupby 객체는 iteration을 지원하는데, 그룹이름과 그에 따른 데이터 묶음을 튜플로 반환한다.

In [1]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                  'key2':['one','two','one','two','one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})

In [4]:
df

      data1     data2 key1 key2
0 -1.198878  0.826197    a  one
1 -0.878996 -0.741996    a  two
2 -1.031823 -0.220942    b  one
3 -0.267070 -0.366555    b  two
4  1.244778  0.326815    a  one

In [10]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -1.198878  0.826197    a  one
1 -0.878996 -0.741996    a  two
4  1.244778  0.326815    a  one
b
      data1     data2 key1 key2
2 -1.031823 -0.220942    b  one
3 -0.267070 -0.366555    b  two

In [11]:
for name, group in enumerate(df):
    print(name)
    print(group)

0
data1
1
data2
2
key1
3
key2

In [12]:
for (k1,k2), group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
      data1     data2 key1 key2
0 -1.198878  0.826197    a  one
4  1.244778  0.326815    a  one
('a', 'two')
      data1     data2 key1 key2
1 -0.878996 -0.741996    a  two
('b', 'one')
      data1     data2 key1 key2
2 -1.031823 -0.220942    b  one
('b', 'two')
     data1     data2 key1 key2
3 -0.26707 -0.366555    b  two

In [13]:
pieces = dict(list(df.groupby('key1')))

In [14]:
pieces

{'a':       data1     data2 key1 key2
 0 -1.198878  0.826197    a  one
 1 -0.878996 -0.741996    a  two
 4  1.244778  0.326815    a  one, 'b':       data1     data2 key1 key2
 2 -1.031823 -0.220942    b  one
 3 -0.267070 -0.366555    b  two}

In [20]:
pieces['a']

      data1     data2 key1 key2
0 -1.198878  0.826197    a  one
1 -0.878996 -0.741996    a  two
4  1.244778  0.326815    a  one

In [21]:
pieces['a'].dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object