In [1]:
from seaborn import load_dataset

In [2]:
tips = load_dataset('tips')

여태까지 살펴본 모든 예제에서 집계된 데이터는 유일한 그룹키 조합으로 색인(어떤 경우에는 계층적 색인)되어 반환되었다.<br/>
하지만 항상 이런 동작을 기대하는 것은 아니므로 groupby 메서드에 `as_index=False`를 넘겨서 색인되지 않도록 할 수 있다.

In [5]:
tips.groupby(['sex','smoker']).mean()

               total_bill       tip      size
sex    smoker
Male   Yes      22.284500  3.051167  2.500000
       No       19.791237  3.113402  2.711340
Female Yes      17.977879  2.931515  2.242424
       No       18.105185  2.773519  2.592593

In [4]:
tips.groupby(['sex','smoker'], as_index=False).mean()

      sex smoker  total_bill       tip      size
0    Male    Yes   22.284500  3.051167  2.500000
1    Male     No   19.791237  3.113402  2.711340
2  Female    Yes   17.977879  2.931515  2.242424
3  Female     No   18.105185  2.773519  2.592593